//==== MIXINS
@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

@mixin size($width: null, $height: null, $m-width: null) {
  width: $width;
  height: $height;
  max-width: $m-width;
}


@mixin center {
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@mixin display {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@mixin display-small {
  display: flex;
  flex-direction: column;
}
