.container {
  @include center;
  padding: 0 $spacing-unit;
}

.section-padding {
  padding: 4rem 0;
}

.about-container {
  @include flexy($dir: column);
  margin: 2rem;

  @media #{$brk-wide-screen} {
    @include flexy($dir: row);
    gap: 2em;
    margin: 4rem;
 }
}

.service-container {
  @include flexy($dir: column);;
  gap: 1rem;

  @media #{$brk-wide-screen} {
    @include flexy($dir: row);
    gap: 2em;
 }
}

.reviews-container {
  @include flexy($dir: column);
  gap: 1rem;

  @media #{$brk-wide-screen} {
    @include flexy($dir: row);
    gap: 2em;
 }
}

.contact-grid {
  @include flexy($dir: column);;
  gap: 2rem;
  margin-top: 2rem;

  @media #{$brk-wide-screen} {
    @include flexy($dir: row);
    gap: 2em;
 }
}
