footer {
  background-color: $color-primary;
  color: $white;
  padding: 4rem 0 2rem;
}

.footer-container {
  @include flexy($dir: column);
  text-align: center;
  gap: 2rem;

  @media #{$brk-wide-screen} {
    @include flexy($dir: row, $just: space-between, $algn-itms: flex-start);
    text-align: left;
 }
}

.footer-bottom {
  @include flexy($dir: column, $algn-itms: center);
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #64748b;
  gap: 1rem;

  @media #{$brk-wide-screen} {
    @include flexy($dir: row, $just: space-between);
  }
}
