footer {
  background-color: $color-primary;
  color: $white;
  padding: 4rem 0 2rem;
}

.footer-container {
  @include display-small;
  gap: 2rem;
  align-items: center;
  text-align: center;

  @media #{$brk-wide-screen} {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
 }
}

.footer-bottom {
  @include display-small;
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #64748b;
  gap: 1rem;
  align-items: center;

  @media #{$brk-wide-screen} {
    flex-direction: row;
    justify-content: space-between;
  }
}
