header {
  background-color: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  margin-top: $spacing-unit;
  z-index: 1000;
}

nav {
  @include flexy($just: space-between, $algn-itms: center);
  height: 70px;
}

.nav-links {
  display: none; /* Hidden on mobile initially for simplicity */

  @media #{$brk-wide-screen} {
    @include flexy($dir: row);
    gap: 2em;
  }
    a {
      @include text($size: null, $weight: 500, $color: $color-secondary);
    &:hover {
      color: $accent-color;
    }
  }
}
