.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: $accent-color;
  color: $white;
  border-radius: $border-radius;
  font-weight: 600;
  transition: opacity 0.3s ease;

  @media #{$brk-wide-screen} {
    align-self: flex-start;
}
  &:hover {
    background-color: transparent;
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.btn-outline {
  @extend .btn;
  background-color: transparent;
  border: 1px solid $accent-color;
  color: $accent-color;
  &:hover {
    background-color: $accent-color;
    color: $white;
    font-weight: 600;
    transition: opacity 0.3s ease;
  }
}
