
.icon-box {
  @include size(50px, 50px);
  margin-bottom: 1rem;
   svg {
    @include size(100%, 100%);
    stroke: $accent-color;
    &:hover {
      transition: transform;
      transform: 2s ease scale(1.1);
    }
  }
}

.check-icon {
  @include size(20px, 20px);
  margin-right: 10px;
  stroke: $accent-color;
}

.social-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  justify-content: center;

  @media #{$brk-wide-screen} {
    justify-content: flex-start;
}
  .social-links a {
    color: $white;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 50%;
    &:hover {
      color: $accent-color;
      background: $white;
      transform: translateY(-3px);
    }
  }
}
