* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include text(1.1rem, 1.6, $color: $text-dark);
  font-family: $font-primary;
  background-color: $white;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-gray {
  background-color: $bg-light;
}


ul {
  list-style: none;
}

.features-list {
  list-style: none;
  margin-top: 1rem;
  li {
    @include text(1rem, $color: $text-dark);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
}

.text-center {
  text-align: center;
}

.logo {
  @include text(1.5rem, $weight: 700, $color: $color-primary);
}

.about-grid,
.review-grid {
  @media #{$brk-wide-screen} {
    @include display;
 }
}
