img {
  @include size($width: 100%, $m-width: 1400px);
  display: block;
  border-radius: $border-radius;
}


.about-image {
  @include flexy($just: center, $algn-itms: center);
  border-radius: $border-radius;
}
  .about-text {
    @include flexy ($dir: column, $just: center);
    text-align: center;
}
