
h1, h2, h3 {
  @include text($size: null, $l-height: 1.2, $color: $color-primary);
  font-family: $font-secondary;
  margin-bottom: 1rem;
}

h1 {
  @include text(2.5rem, $weight: 700);

  @media #{$brk-wide-screen} {
  @include text(3.5rem);
  }
}

h2 {
  @include text(2rem);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h3 {
  @include text(1.25rem, $weight: 600);
}

p {
  color: $text-light;
  margin-bottom: 1.5rem;
}
