// ==== Define the Pulse Animation
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Scales up 5% */
  }
  100% {
    transform: scale(1);
  }
}
// ==== BUTTONS
.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  color: $white;
  border-radius: $border-radius;
  font-weight: 600;

  /* Performance optimization for animations */
  will-change: transform;
  /* Smooth transition for color changes */
  transition: all 0.2s ease;

  @media #{$brk-wide-screen} {
    align-self: flex-start;
  }
  &:hover {
    background-color: transparent;
    border: 1px solid $accent-color;
    color: $accent-color;
    //==== format: name duration timing-function iteration-count
    animation: pulse 1.3s infinite;
  }
}

.btn-outline {
  @extend .btn;
  background-color: transparent;
  color: $accent-color;
  &:hover {
    background-color: $accent-color;
    color: $white;
  }
}
